# API
api/.DS_Store
api/node_modules
api/.vscode
api/public/hot
api/public/storage
api/storage/*.key
api/vendor
api/.env
api/.env.backup
api/.phpunit.result.cache
api/Homestead.json
api/Homestead.yaml
api/npm-debug.log
api/yarn-error.log

# Interface
interface/node_modules
interface/.DS_Store
interface/dist
interface/.vscode
interface/.env.local
interface/npm-debug.log*
interface/yarn-debug.log*
interface/yarn-error.log*
interface/pnpm-debug.log*

# Global
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db