// |------------------------------------------------------
// |------------------------------------------------------
// | Modal
// |------------------------------------------------------
// |------------------------------------------------------

.modal
	.modal-card-head
		padding: 30px 20px
	.modal-card-title
		color: $primary
	.modal-card
		max-width: 100%
	.modal-card-body
		max-height: calc(100vh - 200px)
		margin: 0 0 -15px 0
	.modal-card-foot
		justify-content: space-between
		z-index: 10
		.button
			padding: 7px 45px
			width: auto
			height: auto

	&.is-sm
		.modal-content
			width: 450px

	&.is-md
		.modal-content
			width: 640px

	&.is-lg
		.modal-content
			width: 960px

	&.is-delete
		.modal-card
			min-width: 460px

		.modal-card-head
			background: $danger
			text-align: center
			padding: 1.3em

		.modal-card-title
			color: white

		.modal-card-foot
			justify-content: center
			.button
				margin: 0 15px
				border-radius: 2em
				&:focus
					outline: none
					box-shadow: none
				&:not(.is-primary)
					border-color: $danger
					color: $danger
					background: transparent
					&:hover
						background: $danger
						color: $white

		.media-content
			padding: 1em
			text-align: center
			span
				font-size: 1.4rem
				font-weight: $weight-medium
				color: $grey-dark
				line-height: 1
				strong
					color: inherit
			small
				display: block
				margin-top: 10px
