// |------------------------------------------------------
// |------------------------------------------------------
// | Error
// |------------------------------------------------------
// |------------------------------------------------------

.error
	.page
		padding: 0

	&__wrapper
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		height: calc(100% - 80px)
		background: $white
		border-radius: 5px
		padding: $block-spacing
		box-shadow: 0 0 10px rgba($grey, 0.05)
		transition: all 0.2s ease-out
		&--no-results
			height: calc(100% - 160px)

	&__page
		height: 100%
		background: $white url('./assets/images/background/error.jpg') 0 0 no-repeat
		background-size: cover
		border-radius: 0

	&__icon
		display: block
		text-align: center
		svg
			width: 70px
			height: auto
			.symbol
				fill: $secondary
				fill: $white
			path
				fill: $primary
				// opacity: 0.3

	&__name
		color: $primary
		font-size: 8rem
		font-weight: $weight-bold
		margin-bottom: $block-spacing * -1
		letter-spacing: -0.15em

		span:nth-child(2)
			color: $secondary
			// text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.5)

	&__message
		color: $body-color
		margin-bottom: $block-spacing * 1.5
		text-align: center
		strong
			// display: block
			color: inherit
