// |------------------------------------------------------
// |------------------------------------------------------
// | Filter
// |------------------------------------------------------
// |------------------------------------------------------

.filter
	display: flex
	// padding-bottom: 0
	.field
		margin-right: $block-spacing
		margin-bottom: 0
		select,
		input
			// border-color: white
			padding-left: $block-spacing / 2
		input
			min-width: 350px
		select
			min-width: 130px
			font-size: 0.8em
