// |------------------------------------------------------
// |------------------------------------------------------
// | Navigation
// |------------------------------------------------------
// |------------------------------------------------------

.navigation
	display: flex
	flex-direction: column
	margin: 0

	&--primary
		margin-top: auto
		// margin-top: auto

	&--secondary
		margin-top: auto
		// margin-bottom: auto

	&__link
		display: block
		padding: $block-spacing / 2
		margin-bottom: $block-spacing / 2
		border-radius: 5px
		transition: $transition-base
		.svg
			opacity: 0.3
		&:hover
			.svg
				opacity: 1
		&.is-active
			background: $white-ter
		&--logout,
		&.is-active
			.svg
				opacity: 1
