// |------------------------------------------------------
// |------------------------------------------------------
// | Page
// |------------------------------------------------------
// |------------------------------------------------------

.page
	padding: $block-spacing
	width: 100%
	@include desktop
		padding-left: $block-spacing * 2
		width: calc(100% - #{$sidebar-width})

	&__actions
		display: flex
		align-items: center
		justify-content: flex-end
		min-height: 70px

		.button
			// line-height: 1.95
			.icon
				position: relative
				top: 2px
			> span
				position: relative
				top: -1px
