// |------------------------------------------------------
// |------------------------------------------------------
// | Profile
// |------------------------------------------------------
// |------------------------------------------------------

.profile
	&__column
		background: $white
		border-radius: $radius * 2
		padding: $block-spacing
		min-height: calc(100vh - 130px)
		box-shadow: $shadow

	&__sidebar
		max-width: 400px

	&__name
		color: $primary
		padding: $block-spacing / 2 0 0 0
		line-height: 1.1
		letter-spacing: -0.05em

	&__image
		img
			width: 100%
			border-radius: $radius

	&__list
		list-style: none
		li
			display: flex
			justify-content: space-between
			align-items: center
			padding: 5px 0
		&__key,
		&__value
			font-size: 85%
		&__key
			font-weight: $weight-semibold
			color: $primary
		&__value
			color: $body-color
			font-weight: $weight-normal

	&__navigation
		padding-top: $block-spacing / 2
		li
			margin: 5px 0
			a
				display: flex
				justify-content: flex-start
				align-items: center
				font-size: 85%
				font-weight: $weight-medium
				color: $body-color
				border-radius: $radius
				padding: $block-spacing / 2 $block-spacing / 1.5
				transition: $transition-base
				.svg
					position: relative
					top: -1px
					display: flex
					width: 20px
					height: 20px
					margin-right: $block-spacing / 2.5
					opacity: 0.3
					&.bell
						top: 0
				&:hover,
				&.is-active
					color: $primary
					background: $white-ter
					.svg
						opacity: 1

	&__section
		padding: 0 0 $block-spacing / 1.5 26%

	&__field
		display: flex
		.field
			display: flex
			max-width: 85%
			position: relative
			margin-bottom: $block-spacing / 1.1
		.label
			width: 30%
			margin: 0
			display: flex
			align-items: center
			font-weight: 500
			letter-spacing: -0.05em
			// font-size: 85%
		.control
			width: 70%
			input,
			textarea
				background: $white-ter
				border-color: transparent
				&:focus
					background: $grey-lightest
